@import "tailwindcss";

@font-face {
  font-family: 'SFRepublic';
  src: url('./assets/fonts/SF\ New\ Republic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-sfrepublic: "SFRepublic", sans-serif;
  --breakpoint-3xl: 120rem;
}


* {
  @apply font-montserrat;
}

.texto-banner {
  font-family: 'Roboto';
}

.feedback-section .slick-track {
  padding: 10em 0;
}

html {
  scroll-behavior: smooth;
}

@media (min-width: 851px) {
  .feedback-section .slick-track {
    display: flex;
    gap: 5em;
    padding: 10em 0;
  }
}